{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="head">
        <a href="{% url 'home' %}">Strona glowna</a>

        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>

                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                        <button type="submit">Wyloguj się</button>
                    </form>
                </li>
                <li><a href="{% url 'recipes:create' %}" class="">Dodaj przepis</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}" class="">Logowanie</a></li>
                <li><a href="{% url 'accounts:register' %}" class="">Rejestracja</a></li>

            </ul>
        </nav>


        {% endif %}
    </header>

    <div class="templates">
        {% block content%}


        {% endblock %}
    </div>
</body>
</html>