{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="head">
        <a href="{% url 'home' %}">Strona glowna</a>
        <nav>
            <ul>
                <li>
                    <!--after clicking submit button we will be redirected to {% url 'accounts:logout' %}-->
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post"></form>
                    {% csrf_token %}
                    <button type="submit">Wyloguj się</button>
                </li>
            </ul>
        </nav>
    </header>

    <div class="templates">
        {% block content%}


        {% endblock %}
    </div>
</body>
</html>