{% load bootstrap3 %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Budget friendly dinners</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Homepage</a>

            </div>


            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'recipes:list' %}">Przepisy</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>Witaj, {{ user.username }}</li>
                    <li><a href="{% url 'accounts:logout' %}">Wyloguj</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Konto<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'accounts:user_info' %}">Moje przepisy</a></li>
                          <li><a href="{% url 'accounts:change_password' %}">Zmiana Hasła</a></li>
                        </ul>
                    </li>


                    {% else %}
                    <li><a href="{% url 'accounts:register' %}">Rejestracja</a></li>
                    <li><a href="{% url 'accounts:login' %}">Zaloguj</a></li>
                    {% endif %}

                </ul>

            </div>

        </div>


    </nav>

    <div class="templates">
        {% block content %}


        {% endblock %}
    </div>
</body>
</html>