<!DOCTYPE html>
{% load static from staticfiles %}
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>Culinier Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

	<!-- Mobile specific meta -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone-no">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>

	<!-- CSS files  ========= ADDED to static ========== !!!!!!-->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- JS files ===== ADDED to static ==== -->
	<script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>

<div class="ht-page-wrapper">


<!-- BEGIN | Header -->
<header id="ht-header" class="">
	<div class="mobile-control-toggle">
		<div class="container">
			<button type="button" class="mobile-nav-toggle" data-target="#menu-list">
				<span class="sr-only">Toggle mobile menu</span>
				<span class="icon-bar icon-bar-1"></span>
				<span class="icon-bar icon-bar-2"></span>
				<span class="icon-bar icon-bar-3"></span>
			</button>
		</div>
	</div>
	<!-- ./mobile-panels-control -->
	<div class="mobile-nav">
		<form class="ht-search-form" action="#">
			<input type="text" placeholder="Type keyword ..." class=""/>
			<button type="button" class="ht-search-form-toggle">
				<span class="sr-only">Toggle search</span>
				<i class="fa fa-search"></i>
			</button>
		</form>
		<ul>
			<li class="current-menu-item menu-item-has-children dropdown-menu">
				<i class="sub-menu-toggle fa fa-chevron-down"></i>
				<a href="">Properties</a>
				<ul>
					<li class="menu-item-has-children">
						<i class="sub-menu-toggle fa fa-chevron-down"></i>
						<a href="">Menu level 2</a>
						<ul>
							<li><a href=""><i class="fa fa-book"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-bullhorn"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-coffee"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Menu level 3</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<i class="sub-menu-toggle fa fa-chevron-down"></i>
						<a href="">Menu level 2</a>
						<ul>
							<li><a href=""><i class="fa fa-book"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-bullhorn"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-coffee"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Menu level 3</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<i class="sub-menu-toggle fa fa-chevron-down"></i>
						<a href="">Menu level 2</a>
						<ul>
							<li><a href=""><i class="fa fa-book"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-bullhorn"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-coffee"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Menu level 3</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<i class="sub-menu-toggle fa fa-chevron-down"></i>
						<a href="">Menu level 2</a>
						<ul>
							<li><a href=""><i class="fa fa-book"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-bullhorn"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-coffee"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Menu level 3</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="mega-menu menu-item-has-children">
				<i class="sub-menu-toggle fa fa-chevron-down"></i>
				<a href="">Agents</a>
				<ul>
					<li class="menu-item-has-children">
						<i class="sub-menu-toggle fa fa-chevron-down"></i>
						<a href="">MENU LEVEL 2</a>
						<ul>
							<li><a href=""><i class="fa fa-book"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-bullhorn"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-coffee"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Menu level 3</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<i class="sub-menu-toggle fa fa-chevron-down"></i>
						<a href="">MENU LEVEL 2</a>
						<ul>
							<li><a href=""><i class="fa fa-book"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-bullhorn"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-coffee"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Menu level 3</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<i class="sub-menu-toggle fa fa-chevron-down"></i>
						<a href="">MENU LEVEL 2</a>
						<ul>
							<li><a href=""><i class="fa fa-book"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-bullhorn"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-coffee"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Menu level 3</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<i class="sub-menu-toggle fa fa-chevron-down"></i>
						<a href="">MENU LEVEL 2</a>
						<ul>
							<li><a href=""><i class="fa fa-book"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-bullhorn"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-coffee"></i> Menu level 3</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Menu level 3</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="">Pages</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
	<!-- / .mobile-nav -->

	<!-- available classes: logo-center, logo-left -->
	<div class="ht-main-navbar logo-center sticky-nav scroll-up-nav">
		<div class="container">
			<div class="inner">
				<h1 id="ht-logo">
					<a href="/">
						<img src="{% static 'images/logo.png' %}" alt="">
					</a>
					Realty
				</h1>
				<!-- / #logo -->
				<div class="ht-main-nav-wrapper">
					<nav id="ht-main-nav">
						<ul>
							<li class="menu-item-has-children dropdown-menu">
								<a href="recipe_index.html">PRZEPISY</a>
								<ul>
									<li class="menu-item-has-children">
										<a href="#">DO 5 ZŁ</a>
										<ul>
											<li><a href="recipe_single.html"><i class="ht-foodie-055"></i> WEGE</a></li>
											<li><a href="recipe_single_video.html"><i class="ht-foodie-063"></i> Z MIĘSEM</a></li>
										</ul>
									</li>
									<li class="menu-item-has-children">
										<a href="#">DO 10 ZŁ</a>
										<ul>
											<li><a href="recipe_single.html"><i class="ht-foodie-055"></i> WEGE</a></li>
											<li><a href="recipe_single_video.html"><i class="ht-foodie-063"></i> Z MIĘSEM</a></li>
										</ul>
									</li>
									<li class="menu-item-has-children">
										<a href="#">DO 15 ZŁ</a>
										<ul>
											<li><a href="recipe_single.html"><i class="ht-foodie-055"></i> WEGE</a></li>
											<li><a href="recipe_single_video.html"><i class="ht-foodie-063"></i> Z MIĘSEM</a></li>
										</ul>
									</li>
								</ul>
							<li><a href="contact.html">KONTAKT</a></li>
						</ul>
						<ul>
							{% if user.is_authenticated %}
							<li style="color:white">WITAJ, {{ user.username }} !</li>

							<li class="menu-item-has-children dropdown-menu">
								<a href="recipe_index.html">MOJE KONTO</a>
								<ul>
									<li class="menu-item-has-children">
										<a href="{% url 'accounts:user_info' %}">MOJE PRZEPISY</a>
									</li>
									<li class="menu-item-has-children">
										<a href="#">DODAJ PRZEPIS</a>
									</li>
									<li class="menu-item-has-children">
										<a href="{% url 'accounts:logout' %}">WYLOGUJ</a>
									</li>

								</ul>

							<!--<li><a href="{% url 'accounts:user_info' %}">MOJE PRZEPISY</a></li>-->
							<!--<li><a href="{% url 'accounts:logout' %}">WYLOGUJ</a></li>-->

							{% else %}
							<li><a href="{% url 'accounts:register' %}">ZAŁÓŻ KONTO</a></li>

							<li><a href="{% url 'accounts:login' %}">ZALOGUJ</a></li>
							{% endif %}
						</ul>
					</nav>
					<!-- / #ht-main-nav -->
				</div>
				<!-- / .pull-right -->
			</div>
			<!-- / .inner -->
		</div>
		<!-- / .container -->
		<button type="button" class="search-toggle" data-toggle="modal" data-target="#ht-search-form">
			<span class="inner">
				<i class="fa fa-search"></i>
			</span>
		</button>
		<!-- ./ button#ht-search-form -->
	</div>
	<!-- / .ht-container -->
</header>
<!-- END | Header -->

<div class="ht-page-header" style="background-image: url('images/parallax/2.jpg')">
	<div class="overlay" style="background: rgba(0,0,0,.5)"></div>
	<div class="container">
		<div class="inner">
			<h2 class="heading">-</h2>
			<ol class="ht-breadcrumb">
				<li><a href="#">-</a></li>
				<li>-</li>
			</ol>
		</div>
		<!-- / .inner -->
	</div>
	<!-- / .container -->
</div>
<!-- / .ht-page-header -->

<div class="ht-section hs-contact">
	<div class="container">
		<div class="row">
			<div class="hs-content col-xs-12 col-sm-8 col-sm-offset-2">

				<div class="post-content-area">
					<h2>Voluptatum officiis ratione ex. Aperiam illum temporibus laboriosam atque!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt velit commodi necessitatibus. Nihil voluptates modi, ex fugit quam autem repellat placeat ea sint dicta architecto repudiandae pariatur, ipsam alias quaerat!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt velit commodi necessitatibus. Nihil voluptates modi, ex fugit quam autem repellat placeat ea sint dicta architecto repudiandae pariatur, ipsam alias quaerat!</p>
				</div>

				<div class="address-blocks row">
					<div style="font-style: italic" class="entry col-xs-12 col-sm-4">
						<h4>CULINIER OFFICE I</h4>
						<p>123 Furry Avenue</p>
						<p>Phone:</p>
						<p>example@emmail.com</p>
					</div>
					<div style="font-style: italic" class="entry col-xs-12 col-sm-4">
						<h4>CULINIER OFFICE I</h4>
						<p>123 Furry Avenue</p>
						<p>Phone:</p>
						<p>example@emmail.com</p>
					</div>
					<div style="font-style: italic" class="entry col-xs-12 col-sm-4">
						<h4>CULINIER OFFICE I</h4>
						<p>123 Furry Avenue</p>
						<p>Phone:</p>
						<p>example@emmail.com</p>
					</div>
				</div>
				
				<div class="ht-form-block">
					<div class="text-center">
						<h3 class="heading">WYŚLIJ WIADOMOSC !</h3>
						<p class="sub-heading"> Wypełnij formularz poniżej.</p>
					</div>
					<form action="#">
						<div class="row">
							<div class="form-group col-xs-12 col-sm-4">
								<label>Imię <span class="label-description">(ex: William) <sup>*</sup></span></label>
								<input type="text">
							</div>
							<div class="form-group col-xs-12 col-sm-4">
								<label>Email <span class="label-description">(Not Published)</span> <sup>*</sup></label>
								<input type="text">
							</div>
							<div class="form-group col-xs-12 col-sm-4">
								<label>Strona <span class="label-description">(Opcjonalnie)</span></label>
								<input type="text">
							</div>
						</div>
						<div class="form-group">
							<label>Temat <span class="label-description">(Opcjonalnie)</span></label>
							<input type="text">
						</div>
						<div class="form-group">
							<label>Tresc <sup>*</sup></label>
							<textarea cols="30" rows="10"></textarea>
						</div>
						<div class="form-group submit-group">
							<input type="checkbox"> Wyślij kopię wiadomości na swoj adres
							<button type="submit" class="ht-button view-more-button">
								<i class="fa fa-arrow-left"></i> Wyślij wiadomośc <i class="fa fa-arrow-right"></i>
							</button>
						</div>
					</form>
				</div>
				<!-- / .ht-form-block -->
			</div>
			<!-- / columns -->
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</div>
<!-- / .hs-recipe -->


<section class="ht-section hs-footer-widget">
	<h2 class="sr-only">Realty footer</h2>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class="ht-widget hw-popular-recipes">
					<h3 class="widget-title">NAJWYŻEJ OCENIANE</h3>
					<article class="post">
						<a href="post_single.html">
							<div class="media">
								<img src="{% static 'images/thumb/1.jpg' %}" alt="">
							</div>
							<div class="content">
								<h4>Khatulistiwa Fruit Salad</h4>
								<div class="meta-rate" title="4 star">
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</a>
					</article>
					<!-- /.post -->
					<article class="post">
						<a href="post_single.html">
							<div class="media">
								<img src="{% static 'images/thumb/2.jpg' %}" alt="">
							</div>
							<div class="content">
								<h4>Home Made Italian Pizza</h4>
								<div class="meta-rate" title="4 star">
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</a>
					</article>
					<!-- /.post -->
					<article class="post">
						<a href="post_single.html">
							<div class="media">
								<img src="{% static 'images/thumb/3.jpg' %}" alt="">
							</div>
							<div class="content">
								<h4>Original Kupat Sayur</h4>
								<div class="meta-rate" title="4 star">
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star rated"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</a>
					</article>
					<!-- /.post -->
				</div>
				<!-- / .ht-widget -->
			</div>
			<!-- /. widget colums -->
			<div class="col-xs-12 col-sm-3">
				<div class="ht-widget hw-popular-categories">
					<h3 class="widget-title">KATEGORIE</h3>
					<ul>
						<li><a href="#">Przekąski</a></li>
						<li><a href="#">Obiady</a></li>
						<li><a href="#">Desery</a></li>
					</ul>
				</div>
				<!-- /. ht-widget -->
			</div>
			<!-- /. widget colums -->
			<div class="col-xs-12 col-sm-3">
				<!--<div class="ht-widget hw-about">-->
					<!--<h3 class="widget-title">ABOUT CULINIER TEMPLATE</h3>-->
					<!--<p>Nunc vel lorem ligula, vitae vestibulum arcu. Suspendisse non purus mauris. Suspendisse vulputate ligula sed turpis fermentum sollicitudin. Quisque orci lorem, porta nec rutrum sit amet, auctor sodales sapien. </p>-->
				<!--</div>-->
				<!-- /. ht-widget -->
				<div class="ht-widget hw-subscribe">
					<h3 class="widget-title">SUBSKRYPCJA </h3>
					<p class="caption">Bądz na bieżąco z wszystkimi przepisami !</p>
					<form action="#">
						<input type="text" placeholder="Email" />
						<button type="submit">GO</button>
					</form>
					<p class="social">
						<a href="#" class="fa fa-facebook" title=""></a>
						<a href="#" class="fa fa-twitter" title=""></a>
						<a href="#" class="fa fa-youtube" title=""></a>
						<a href="#" class="fa fa-rss" title=""></a>
					</p>
				</div>
				<!-- /. ht-widget -->
			</div>
			<!-- /. widget colums -->
		</div>
	</div>
</section>

<footer id="ht-footer">
	<div class="container">
		<p class="copyright">COPYRIGHT © 2014 CULINIER. POWERED BY WORDPRESS AND THEMEPE</p>
		<ul class="footer-nav">
			<li><a href="index.html">HOME</a></li>
			<li><a href="event_list.html">EVENT</a></li>
			<li><a href="recipe_index.html">PRZEPISY</a></li>
			<li><a href="post_masonry.html">BLOG</a></li>
			<li><a href="contact.html">CONTACT</a></li>
			<li><a href="{% url 'accounts:login' %}">ZALOGUJ</a></li>
		</ul>
	</div>
</footer>

<!-- Modal -->
<div class="modal fade" id="ht-search-form" tabindex="-1" role="dialog" aria-labelledby="ht-search-form" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="#">
					<input type="text" placeholder="Type keyword ..." autofocus />
					<button class="search-button" type="button">
						<span class="sr-only">Toggle search</span>
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- / .hs-footer-widget -->

</div>
<!-- ./ht-page-wrapper -->

<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>